/*
|--------------------------------------------------------------------------
| Buttons
|--------------------------------------------------------------------------
*/
input[type=submit] {
	background-color: $accent;
}
input[type=text] {
	border-bottom: none;
}

.menu-item-has-children a {
	margin-right: 0 !important;
}