/*
|--------------------------------------------------------------------------
| Forum
|--------------------------------------------------------------------------
*/
.main-content {
	#af-wrapper {
		#forum-header-container {
			#forum-header-container-top {
				display: none !important;
			}
			#breadcrumbs-container {
				background: transparent;
				border: none;
				span {
					color: $accent;
					&.dashicons-before {
						color: $text-light;
					}
				}
			}
		}
		.pages-and-menu {
			min-height: 0;
		}
		.main-title, .read-unread, .main-description {
			color: $text-light !important;
		}
		.info {
			border: none;
			background: lighten($background,8);
			color: #fff;
		}
		.main-title {
			font-size: 2.5em;
			@include mobile {
				margin: 12px;
				text-align: center;
				font-size: 1.75em;
				line-height: 1em;
			}
		}
		.editor-row-subject span {
			padding-left: 0;
			input {
				padding-left: 20px !important;
			}
		}
		.forum-menu a {
			color: $accent !important;
			border: 2px solid $accent;
			border-radius: 3px;
			padding: 8px 12px;
			font-size: 1em;
			background-color: transparent !important;
			line-height: 1.5em;
			text-transform: uppercase;
			letter-spacing: 2px;
			transition: $easy-ease;
			&::before {
				margin-right: 3px;
			}
			&:hover {
				color: $background !important;
				background-color: $accent !important;
			}
			@include mobile {
				width: calc(50% - 6px);
				font-size: .75em;
				padding: 4px 8px;
				line-height: 2em;
				letter-spacing: 0;
				margin: 3px;
			}
		}
		.user-online {
			.avatar {
				box-shadow: none;
				outline: none;
			}
			.profile-link::after {
				content: "";
				display: inline-block;
				width: 8px;
				height: 8px;
				border-radius: 50%;
				background-color: #72dc51;
				margin-left: 5px;
			}
		}

.clear { padding: 0; }


		
	}
}
