
/*-------------------------------------------------------------------------*/
/*  General
/*-------------------------------------------------------------------------*/
p, li, td, a, div, span {
    -webkit-font-smoothing: subpixel-antialiased;
}


/* Custom Buttons */
.lab-button {
  border: 2px solid #fff;
  padding: 8px 16px;
  color: #fff;
  letter-spacing: .1em;
  font-size: 14px;
  font-family: 'Exo', sans-serif;
  font-weight: 500;
  cursor: pointer;
  position: relative;
  span {
    position: relative;
    z-index: 999;
    transition: all .55s ease;
  }
  &::after {
    content: "";
    position: absolute;
    width: 0;
    height: 100%;
    background: rgba(255,255,255,.5);
    top: 0;
    left: 0;
    transition: all .55s ease;
  }
  &::before {
    content: "";
    position: absolute;
    width: 0;
    height: 100%;
    background: rgba(255,255,255,1);
    top: 0;
    left: 0;
    transition: all .35s ease;
  }
  &:hover {
    span {
        color: $accent;
    }
    &::after {
        width: 100%;
        transition: all .35s ease;
    }
    &::before {
        width: 100%;
        transition: all .55s ease;
    }
  }
}
canvas {
  position: fixed;
  top: 0;
  left: 0;
  opacity: .2;
  pointer-events: none;
  z-index: -1;
}

.gradient-bg .full-page-inner-wrap {
  background: rgba(0,29,60,.25);
  background: linear-gradient(to bottom, rgba(30,87,153,1) -75%,rgba(0,29,60,1) 75%);
}

/* Circular Tabs */
.lab-circle-tabs {
  margin-top: 50px;
  @include tablet {
    margin-top: 0;
  }
  .ui-tabs-nav {
    @include tablet {
      display: block;
      width: 100% !important;
      text-align: center;
    }
    li {
      @include tablet {
        display: inline-block;
      }
      a {
        text-align: center;
        width: 50px;
        height: 50px;
        background: transparent;
        border-radius: 50%;
        position: relative;
        margin: 0 auto 50px auto;
        &::after {
          content: "";
          position: absolute;
          top: -2px;
          left: -2px;
          width: 100%;
          height: 100%;
          border: 2px solid #ccc;
          border-radius: 50%;
          transition: all .3s ease;
        }
        &::before {
          content: "";
          position: absolute;
          bottom: -50px;
          height: 100%;
          width: 2px;
          background: #ccc;
          left: 50%;
        }
        &.active-tab::after {
          border: 2px solid $accent;
        }
        @include tablet {
          width: 30px;
          height: 30px;
          padding: 0;
          margin: 0 26px 0 0;
          &::before {
            width: calc(100% - 4px);
            height: 2px;
            top: 50%;
            left: 30px;
          }
        }
      }
      &:last-child a::before {
        display: none;
      }
    }
  }

}

