/*-------------------------------------------------------------------------*/
/*  Home
/*-------------------------------------------------------------------------*/
.top-heading {
	img {
		display: block !important;
   	 	text-align: center;
    	margin: 20px auto;
	}
}