/*
|--------------------------------------------------------------------------
| Variables
|--------------------------------------------------------------------------
*/

$accent: #eab053;
$extra1: #767b91;
$extra2: #c7ccdb;
$extra3: #e1e5ee;

$background: #23334c;

$text-light: #fff;
$text-dark: #676767;