/*
|--------------------------------------------------------------------------
| Variables
|--------------------------------------------------------------------------
*/

$accent: #eab053;
$extra1: #767b91;
$extra2: #c7ccdb;
$extra3: #e1e5ee;

$red: #ca4040;

$background: #23334c;

$text-light: #9ba0b9;
$border: #3b4b65;
$text-dark: #676767;

$col-str: 8;

$easy-ease: all .3s ease;